img{
    transition: 0.5s;
    border-radius: 50%;
}
img:hover{
    border-radius: 0%;
    
}
td:hover{
background-color: teal;
}
h1{
    color: hotpink;
    text-decoration: dotted underline;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}