body{
    opacity: 0.8;
    font-weight: bold;
}
h1{
    text-decoration: dashed underline;
}
.ml li:hover{
    color:teal;
    font-weight: bolder;
    /*font-size: larger;*/
}
.mml:hover li{
    opacity: 0.9;
    color: aqua;
    font-weight: bolder;
    /*font-size: larger;*/
}
.mmml:hover li{
    opacity: 1;
    color: aquamarine;
    font-weight: bolder;
    font-size: x-large;
}